*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.movie__div{
    width: 298px;
    height: 300px;
    background-color: rgb(204, 190, 190);
    margin:1px;
    font-size: 20px;
}
.movie__name{
    width: 300px;
    text-align: center;
}
.movie__number{
    font-size: 20px;
    text-align:end;
    margin-right: 20px;
    margin-bottom: 10px;
}
.movie__catigories{
    font-size: 17px;
}